/*
hover rgb(233, 224, 106);
  --bg: #10121B;
  --sidebar: #191D2B;
  --main-blue-color: #037FFF;
  --main-border-color: #2e344e;
  --font-color: #a4acc4;
    "@fortawesome/fontawesome-svg-core"
    "@fortawesome/free-brands-svg-icons"
    "@fortawesome/free-solid-svg-icons"
    "@fortawesome/react-fontawesome"
    https://www.youtube.com/watch?v=ajgxZ5hBSHQ&t=574s
    https://github.com/Maclinz/youtube-portfolio-tutorial/tree/master/src/img
*/
